@font-face {
  font-family: 'titleFont';
  src: url('./fonts/Pangolin-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bodyFont';
  src: url('./fonts/IndieFlower-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
}

.backgroundImageBox {
  height: 100%;
  font-family: sans-serif;
  background: url('./images/ingredients.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.allContent {
  padding: 5% 25% 0 12%;
  max-width: 800px;
  font-family: bodyFont, sans-serif;
}

h1 {
  margin-top: 0;
  color: white;
  text-align: center;
  font-family: 'titleFont', sans-serif;
}

p {
  color: white;
}

.tabs {
  width: 100%;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}

button {
  padding: 10px 30px;
  font-family: titleFont, sans-serif;
  font-size: 1.5rem;
  background: none;
  border-radius: 25px 5px 0 0;
  border: solid white;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.imageCredit {
  color: white;
}

a {
  color: white;
  text-decoration: none;
  font-style: italic;
  font-family: bodyFont, sans-serif;
}

a:clicked {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}